integrations:
  node_exporter:
    enabled: true
    relabel_configs:
      - replacement: {{ friendly_hostname }}
        target_label: instance
  {% if snmp is defined %}
  snmp:
    enabled: true
    snmp_targets:
      {% for target in snmp.targets %}
      - name: {{ target.name }}
        address: {{ target.address }}
        module: {{ target.module }}
        walk_param: {{ target.community }}
      {% endfor %}
    {% if snmp.config is defined %}
    config_file: {{ snmp.config.path }}
    {% endif %}
    walk_param:
      {% for community in snmp.communities %}
      {{ community.name }}:
        version: {{ community.version }}
        auth:
          community: {{ community.community_name }}
          username: {{ community.username }}
          security_level: {{ community.security_level }}
          password: {{ community.password }}
          auth_protocol: {{ community.auth_protocol }}
          priv_protocol: {{ community.priv_protocol }}
          priv_password: {{ community.priv_password }}
      {% endfor %}
  {% endif %}
{% if logs is defined %}
logs:
  configs:
    - name: integrations
      positions:
        filename: {{ logs.positions_file }}
      scrape_configs:
        {{ logs.scrape_configs | to_nice_yaml(indent=2) | trim | indent(8) }}
      target_config:
        sync_period: 10s
      {% if logs.clients is defined %}
      clients:
        {{ logs.clients | to_nice_yaml(indent=2) | trim | indent(8) }}
      {% endif %}
{% endif %}
metrics:
  configs:
    {{ metrics.configs | to_nice_yaml(indent=2) | trim | indent(4) }}
  global:
    scrape_interval: {{ metrics.scrape_interval }}s
    {% if remote_write is defined %}
    remote_write:
      {{ remote_write | to_nice_yaml(indent=2) | trim | indent(6) }}
    {% endif %}
  wal_directory: {{ metrics.wal_directory }}
